/*************************** COLORS *****************************/

a, h1 {
	color:#900;
}

.button,.button:focus {
	background-color:#900;
}

a:hover, a:focus {
	color:#c00;
}

.button:hover {
	background-color:#c00;
}

/*************************** LAYOUT ******************************/

.textright {
	text-align:right;
}

body {
	background-color:#f0f0f0;
}

#main-nav {
	margin-top:1rem;
}

#main-nav ul {
	margin:0;
	padding:0;
	list-style: none;	
}

#main-nav ul li {
	display:inline-block;
	font-size:0.8rem;
}

#main-nav ul li a {
	color:inherit;
}

#main-nav ul li a:hover {
	color:#c00;
}

#main-nav ul li:after {
	content: " / ";
}

#main-nav ul li#sitename:after {
	font-weight:bold;
}

#main-nav ul li.last:after {
	content: "";
}

#main-nav ul li#sitename {
	font-size:1.5rem;
	font-weight:bold;
}

#sitename h1 {
	display:inline;
	font-size:inherit;
	font-weight:inherit;
}

#main {
	border:1px solid #ddd;
	background-color:white;
	padding-bottom:1rem;
	padding-top:1.5rem;
}

#main h1,h2 {
	text-align:center;
}

#main h3 {
	font-size:1.2em;
	font-weight:bold;
	color:#900;
}

#homepage-linklist {
	font-size:0.8rem;
}

#main.homepage hr.splitter {
	width:60%;
	margin:3rem auto;
	color:#900;
	border-color:#900;
}

#api-header {
	color: #900;
	text-align:center;
	margin-bottom: 2rem;
}

#simple .submit {
	float:right;
	line-height:0.6rem;
}

.spinner {
	display:none;
}

legend {
	color:#ccc;
}

legend a {
	font-weight:normal;
}

legend a.selected {
	font-weight:bold;
}


.variant {
	clear:both;
}

a.more {
	display:none;
}

#api-results {
	display:none;
}

#learnmore {
	text-align: right;
	margin-top:-1rem;
}
/*--------------------------- graph area */


#graph-area {
	display:none;
	border:1px solid #ddd;
	padding-top:1rem;
}

#graph-intro p:last-child {
	margin-bottom:0;
}

.graph {
	padding:1rem;
}


@media only screen and (min-width: 90.063em) { 
	.graph:nth-child(odd) {
		padding-right:0.5rem;
	}
	
	.graph:nth-child(even) {
		padding-left:0.5rem;
	}	
} /* min-width 1441px, xlarge screens; shiv to collapse central gutter */

.graph div {
	width:100%;
	border:1px solid #ddd;
}

#json-field {
	width:100%;
	height:10rem;
	font-size:small;
	background-color:#eee;
}




/*------------------------------ footer */

#footer {
	color:#aaa;
	text-align:right;
}

#footer, #footer a {
	font-size:0.8rem;
}






/* missing javascript clean-up*/
