{% extends "base.html" %}
{% set page_id = "about" %}
{% set title = "About" %}
{% block content %}
	<h2>About Fandom Stats</h2>
	<p>The following fans have contributed to this site and/or the underlying API:</p>
	<ul id="contributors">
		<li><strong>Anna The Crow</strong> (<a href="annathecrow.tumblr.com">annathecrow.tumblr.com</a>)</li>
		<li><strong>Destination Toast</strong> (<a href="destinationtoast.tumblr.com">destinationtoast.tumblr.com</a> | <a href="toastystats.tumblr.com">toastystats.tumblr.com</a>)</li>
		<li><strong>Es Gibter</strong> (<a href="esgibter.tumblr.com">esgibter.tumblr.com</a>)</li>
	</ul>

	<h3 id="contact">Contact us</h3>
	<p>The development of this project is managed through <a href="https://github.com/esgibter/fandomstats">a github repository</a>, which is also the best way to get in touch if you would like to help us develop it further. For other questions, you can contact us at <span class="c-addr">fandomstatistics-a-gmail-d-com</span>.</p>
	<p>You can also find us on <a href="https://fandomstatsorg.tumblr.com">fandomstatsorg.tumblr.com</a>, where you can find status updates and report bugs (also anonymously).</p>
{% endblock %}
