<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			{% if title is defined %}
				{% block title %}{% endblock %} -- Fandom Stats
			{% else %}
				Fandom Stats
			{% endif %}			
			</title>
		
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}" />
	    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home.css') }}" />
	    <script src="{{ url_for('home.static', filename='js/vendor/modernizr.js') }}"></script>
  </head>
	<body class="no-js">
		{% set navbar = [
		    ('ao3-tag-stats', 'AO3 Tag Stats API',false),
		    ('ao3-bookmark-viewer', 'AO3 Bookmark Viewer',false),
		    ('about', 'About Fandom Stats',true),
		] -%}
		{% set active_page = page_id|default('') -%}
		
		<nav id="main-nav" class="row">
			<ul>
				<li id="sitename"><h1><a href="/">Fandom Stats</a></h1></li>
				{% for id, caption, last in navbar %}
				  <li class="{% if id == active_page %}active{% endif %}
				  {% if last %}last{% endif %}">
				  <a href="{{ id|e }}">{{ caption|e }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<div id="wrapper">
			<div class="row">
				<div id="main" class="large-12 columns {{ page_id|e }}">
					{% block content %}{% endblock %}
				</div>
					
			</div>
		</div>
		<div class="row" id="footer"> 				
			<div class="large-12 columns">
				&nbsp;
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
	    <script>
	      $(document).foundation();
	      $("body").toggleClass("no-js");	      
	    </script>
	    <script src="{{ url_for('home.static', filename='js/home.js') }}"></script>
	    <img id="spinner" src="{{ url_for('home.static', filename='img/spinner.gif') }}" class="button-message" />
	    <span id="button-error" class="button-message">&#xd7;</span>
	</body>
</html>


