{% extends "base.html" %}
{% set page_id = "ao3-bookmark-viewer" %}
{% block title %}AO3 Bookmark Viewer{% endblock %}
{% block content %}
	<h2>AO3 Bookmark Viewer</h2>
	<p class="lead subheading">Show me recent public AO3 bookmarks of my fanworks</p>
	
	<form class="bigform">
		<p>Your AO3 username:<br>
		<input id="author" type="text"></p>
		<div class="row collapse">
			<div class="medium-10 column">
				<input type="checkbox" id="recs" name="recs"><label for="recs">Recommendations only?</label> <br>
				<input type="checkbox" id="notes" name="notes"><label for="notes">Bookmarks with notes only?</label>  
			</div>
			<div class="medium-2 column textright">
				<button type="button" class="small" onclick="showBookmarks()">Submit</button>
			</div>
		</div>
	</form>
    
	<div id="bookmarks">&nbsp;</div>

<script>
     function showBookmarks() {
     var authorName, url, text, bookmarkDisplay;

     // Get the value of the input field with id="author"
     authorName = document.getElementById("author").value;

     // Create URL
     url = "http://archiveofourown.org/bookmarks/search?bookmark_search%5Bbookmarker%5D=-" + 
     authorName + "&bookmark_search%5Bquery%5D=" + 
     authorName + "&bookmark_search%5Bsort_column%5D=created_at";
     if (document.getElementById("recs").checked == true) {
     url = url + "&bookmark_search%5Brec%5D=1";
     }
     if (document.getElementById("notes").checked == true) {
     url = url + "&bookmark_search%5Bwith_notes%5D=1";
     }
     text = "URL: " + url;
     bookmarkDisplay = "<iframe id='ao3-bookmark-view' src=" + 
							   url + "></iframe>";
     document.getElementById("bookmarks").innerHTML = bookmarkDisplay;
 }
</script>
{% endblock %}
