{% extends "base.html" %}
{% set page_id = "homepage" %}
{% block content %}
	<div class="row collapse">
		<div class="large-6 medium-6 small-12 columns">
			<p>Welcome to [our page]. What we do. Our main project is the AO3 tag stats API. 
				In the future, we plan to create visual tools that will generate graphs for various AO3 metrics that fans without IT background can use to explore fandom behavior.</p>
		</div>
		<aside id="homepage-linklist" class="medium-5 columns">
			<h4>Where to go</h4>
			<ul >
				<li><a href="/ao3-bookmark-viewer">Try the AO3 Bookmark Viewer</a></li>
				<li><a href="/ao3-tag-stats">Learn more about the Tag Stats API, and what is it for</a></li>
				<li><a href="/fandom-research-directory">Find more fandom research projects like this one</a></li>
				<li><a href="/about">Read about the people behind this</a></li>
			</ul>
		</aside>
	</div>
	<hr class="splitter" />
	<h3 id="api-header">Try the tag stats tool</h3>
	<form id="searchform-homepage" class="row collapse bigform searchform">
		<div class="large-10 medium-9 small-12 columns">
	          <input id="search-string" type="text" placeholder="tag name, e.g. 'Harry Potter' or 'fluff'" autocomplete="off">
    	</div>
    	<div class="large-2 medium-3 small-12 columns">
          <a href="#" id="search-btn" class="button postfix">Go</a>
    	</div>
    	<!--
    	<div class="large-2 medium-3 small-12 columns">
          <a href="#" id="add-searchword"> + add search tag</a>
    	</div>
    	-->
	</form>
	<div class="row api-results">
		<div id="json-export" class="large-12 column">
			<label>results as CSV:</label>
			<textarea placeholder="" id="result-field" readonly="readonly">
			</textarea>
		</div>	
	</div>
	<div class="row collapse api-results">
		<div id="learnmore" class="small-12 columns">
			In the future, we will give you some pretty graphs to look at. In the meantime, you can <a href="ao3-tag-stats">learn more about the API</a>
		</div>
	</div>	
{% endblock %}
