{% extends "base.html" %}
{% set page_id = "homepage" %}
{% set description = "An ongoing project to create open-source tools for &quot;fandom analysis&quot; - data-driven exploration of fannish behavior. You will find graphs, APIs and more." %}
{% set social_description = "Fandom Stats is an ongoing project to create open-source tools for &quot;fandom analysis&quot; - data-driven exploration of behavior. You can find a tool visualising data about an AO3 tag, and more." %}
{% block content %}
	<div class="row collapse">
		<div class="large-6 medium-6 small-12 columns">
			<p>
				Welcome to Fandom Stats!
			</p>
			<p>
				We are working on a set of tools that will make it easier to get data for fandom analysis,
				 mostly from the popular and number-friendly fandom haunts like <a href="http://archiveofourown.org">AO3</a> or <a href="http://tumblr.com">tumblr</a>.
			</p> 
			<p>
				 On this page you can try out an early version of a tool like that - search for any AO3 tag, and it will create visualisations about it, using our <a href="ao3-tag-stats">AO3 Tag Stats API</a> to gather the data. Have fun!
			</p>
		</div>
		<aside id="homepage-linklist" class="medium-5 columns">
			<h4>Where to go</h4>
			<ul >
				<li><a href="/ao3-bookmark-viewer">Try the AO3 Bookmark Viewer</a></li>
				<li><a href="/ao3-tag-stats">Learn more about the Tag Stats API, and what is it for</a></li>
				<!--<li><a href="/fandom-research-directory">Find more fandom research projects like this one</a></li>-->
				<li><a href="/about">Read about the people behind this</a></li>
				<li><a href="/about">Some caveats and notes about the data and the methods</a></li>
			</ul>
		</aside>
	</div>
	
	<hr class="splitter" />
	
	<h3 id="api-header">Get stats for AO3 tags</h3>
	<form id="searchform-homepage" class="row collapse bigform searchform">
		<p class="form-info">You can search for a tag or a combination of tags - in that case, use double quotes around tags with spaces. To better understand what the graphs are saying, check out "<a href="/reading-the-data">Reading the Data</a>".</p>
		<div class="large-10 medium-9 small-12 columns">
			<input id="search-string" type="text" placeholder="one or more tag names ('Harry Potter', or '&quot;Harry Potter&quot; Fluff')" autocomplete="off">
    	</div>
    	<div class="large-2 medium-3 small-12 columns">
          <a href="#" id="search-btn" class="button postfix">Go</a>
    	</div>
    	<!--
    	<div class="large-2 medium-3 small-12 columns">
          <a href="#" id="add-searchword"> + add search tag</a>
    	</div>
    	-->
	</form>
	<div class="row api-results" id="main-graphs">		
	</div>
{% endblock %}
