<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Fandom Stats</title>
		
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}" />
	    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home.css') }}" />
	    <script src="{{ url_for('home.static', filename='js/vendor/modernizr.js') }}"></script>
  </head>
	<body class="no-js">
		<div class="row">
			<div id="main" class="large-12 columns">
				<h1>AO3 Analytics Tool</h1>
				<p>Short introduction text. Explanation of the tool. What else goes here? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ligula magna, ultrices quis cursus accumsan, pulvinar quis nisi. <span class="more-text">Mauris fringilla ac orci sodales efficitur. Vivamus consequat sem auctor risus eleifend fermentum ut at orci. Aenean mollis pretium dui, id dictum justo eleifend eget. Morbi commodo diam nec ipsum hendrerit, ut scelerisque lectus tempus. Etiam eu felis tellus. Vivamus ut odio elit.</span> <a href="" class="more">more&raquo;</a></p>	
				<fieldset>
					<legend><a href="#simple" class="selected" id="simple-toggle">Simple</a>/<a href="#advanced" class="" id="simple-toggle">Advanced</a></legend>
					<div id="simple" class="variant selected">
						<div class="row collapse">
					        <div class="large-10 medium-9 small-12 columns">
					          <input id="search-string" type="text" placeholder="tag name, e.g. 'Harry Potter' or 'fluff'">
					    	</div>
					    	<div class="large-2 medium-3 small-12 columns">
					          <a href="#" id="search-btn" class="button postfix">Go</a>
				        	</div>
			      		</div>
					</div>
					<div id="advanced" class="variant">
						much fields, very search.			
					</div>
				</fieldset>
				<div class="row collapse">
					<div id="graph-area" class="large-12 columns">
						<div class="row">
							<div id="graph-intro" class="large-12 column">
								<p>Graphs bellow.</p>
							</div>							
						</div>
						<div class="row">
							<div class="large-12 xlarge-6 column graph">
								<div>graph 1</div>
							</div>
							<div class="large-12 xlarge-6 column graph">
								<div>graph 2</div>
							</div>
							<div class="large-12 xlarge-6 column end graph">
								<div>graph 3 etc</div>
							</div>
						</div>
						<div class="row">
							<div id="json-export" class="large-12 column">
								<p></p>
								<label>copy results as JSON:</label>
								<textarea placeholder="" id="json-field" readonly="readonly">
								</textarea>
							</div>							
						</div>
						
					</div>
										
				</div>
				</div>
				
			</div>
			<div class="row" id="footer"> 				
				<div class="large-12 columns">
					Footer? Stuff? Links???
				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
	    <script>
	      $(document).foundation();
	      $("body").toggleClass("no-js");	      
	    </script>
	    <script src="{{ url_for('home.static', filename='js/home.js') }}"></script>
	    <img src="{{ url_for('home.static', filename='img/spinner.gif') }}" class="spinner" />
	</body>
</html>


