{% extends "base.html" %}
{% set page_id = "resources" %}
{% set title = "Resources" %}
{% block content %}
	<h2>Resources</h2>
	<p>Various materials and resources relating to fandom statistics. (Very much work in progress - if you have a tip, <a href="/about">let us know</a>!)</p>
	<h3>Raw data</h3>
	<p><a href="/ao3-activity-data">Resources: AO3 daily activity data</a> - raw csv files with daily activity counts (works posted and updated, chapters added etc), with comments.</p>

	<h3>Links - reading</h3>
	<p><a href="/reading-the-data">Reading the Data</a> - important methodology notes about this site (and fandom statistics in general).</p>
{% endblock %}
